@import "app-variables";

.loader {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.event-card {
  width: $max-site-width;
  max-width: 100%;
  margin-bottom: 35px;
}

