@import "app-variables";

:host {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

.toolbar-container {
  margin-left: -20px;
  margin-right: -20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.layout-toolbar {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.layout-row {
  width: $max-site-width;
  max-width: 100%;
  box-sizing: content-box;
}
