/* You can add global styles to this file, and also import other style files */
@import 'app-common';

// Custom Theming for Angular Material
@import "material";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


.bjk-loader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    &::after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid #3f51b5;
      border-color: #3f51b5 transparent #3f51b5 transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


}
